.pfp {
    border-radius: 51%;
}
.youtube {
    background-color: rgb(255, 29, 29);
}
.youtube:hover {
    background-color: rgb(235, 10, 10);
}
.art {
    background-color: rgb(138, 43, 226);
}
.art:hover {
    background-color: rgb(118, 23, 206);   
}
.art-table {
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.links {
    background-color: rgb(0, 223, 0);
}
.links:hover {
    background-color: rgb(8, 201, 8);
}

.footer-icon { 
	animation: footer-icon;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	color: #6c757d;
}

.footer-icon:hover {
	color: #6c757d;
	animation: footer-icon-hover;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}
  
@keyframes footer-icon-hover {
	from {
		color: #6c757d;
	}
	to {
		color: #0d6efd;
	}
}

@keyframes footer-icon {
	from {
		color: #0d6efd;
	}
	to {
		color: #6c757d;
	}
}
