.pfp {
    border-radius: 51%;
}
.youtube {
    background-color: rgb(255, 29, 29);
}
.youtube:hover {
    background-color: rgb(235, 10, 10);
}
.art {
    background-color: rgb(138, 43, 226);
}
.art:hover {
    background-color: rgb(118, 23, 206);   
}
.art-table {
    background-color: blueviolet;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.links {
    background-color: rgb(0, 223, 0);
}
.links:hover {
    background-color: rgb(8, 201, 8);
}